.BuildControls {
    width: 50%;
    background-color: rgb(113, 102, 235);
    box-shadow: 0 2px 1px rgb(131, 165, 204);
    margin: 10px;
    padding-top: 60px;   
}

.root {
    Width: 80%
  }

.media {
    height: 140px
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
