.screen{
    background-color: red;
    width:100%
}

.container {
    background-color: #ffcc33;
    margin-left: 100px;
}

.first {
    scrollbar-width: none;
    overflow: scroll;
    padding-top: 70px;
    width: 60%;
    float: left;
    height: 700px;
   
}


.second {
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
    width: 35%;
    float: left;
    height: 450px;
    background-color: rgba(156, 153, 153, 0);
    overflow:scroll ;
    border-radius: 5px;
}